.body {
  margin: 60px 0px;
  text-align: left;
}
.containerinfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* margin: 0px 20px; */
}
.wrapinfo1 {
  display: flex;
  flex-direction: column;
  /* width: 40%; */
}

.wrapinfo2 {
  display: flex;
  flex-direction: column;
  /* width: 40%; */
}
.radioGroup {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.adresstitle {
  font-size: 18px;
  font-weight: normal;
  text-align: left;
  /* margin-left: 10%; */
}
.wrapaddress {
  justify-content: center;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
}
.provepic {
  /* max-width: 360px; */
}
.couple {
  display: flex;
  flex-direction: column;
}

.loadcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* color: gray; */
}
