.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body {
  width: calc(100%);
  background: #F6FBFF;
  min-height: 100vh;
}

.box {
  background: #ffffff;
  min-width: 400px;
  min-height: 400px;
  width: 80%;
  max-width: 900px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  /* margin-top: 100px; */
  margin: 0px auto;
  display: flex;
  /* align-content: space-around; */
  /* margin-top: 50px; */
  justify-content: center;
  align-items: center;
  padding: 50px 5%;
  flex-direction: column;
  
}

.header {
  font-size: 24px;
  font-weight: medium;
}

.wrapheader {
  display: flex;
  flex-direction: row;
  min-width: 400px;
  width: 80%;
  max-width: 900px;
  justify-content: space-between;
  margin: 10px auto;
}

.imgaccessdeined{
    width: 256px;
}
.detail{
  font-size: 16px;
  font-weight: lighter;
    margin-bottom: 20px;
}
.item2 {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;

}
/* .box2 {
  min-height: 400px;
  min-width: 600px;
  padding: 0px 20%;
  color: #377de2;
  display: flex;
  flex-direction: column;
  justify-content: center;

} */
.box2 {
  background: #ffffff;
  min-width: 400px;
  min-height: 400px;
  width: 80%;
  max-width: 900px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  /* margin-top: 100px; */
  margin: 3% auto;
  display: flex;
  /* align-content: space-around; */
  /* margin-top: 50px; */
  justify-content: space-between;
  align-items: center;
  padding: 30px 3%;
  flex-direction: column;
  
}
.box2_top {
  margin-top: 10px;
  font-size: 24px;
  line-height: 36px;
  text-align: left;
  /* margin-left: 10%; */
}
.box2_bottom {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
  width: 100%;
}
.box2_items {
  border: 1px solid #e6e6e6f8;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
  width: 28%;
  min-width: 210px;
  min-height: 220px;
  box-shadow: 5px 10px #cfcfcf;
}
.box2_items_text {
  margin-bottom: 10px;
  font-size: 18px;
  /* line-height: 27px; */
}
