.body {
 margin: 20px 0px;
 width: 100%;
}
.header {
 font-size: 20px;
 font-weight: medium;
 text-align: left;
 /* margin-bottom: 20px; */
}

.description{
 display: flex;
 flex-direction: column;
 text-align: left;
 padding: 30px;
}

.pair{
 display: flex;
 flex-direction: row;
}
.row1{
 width: 50%;
 text-align: left;
}
p{
 margin-bottom: 2em;
}
.appointformdes{
 padding: 30px;
 display: flex;
 flex-direction: row;
}