.body {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 256px);
  background: #f8fbff;
  min-height: 100vh;
}

.header {
  margin-top: 20px;
}

.box {
  background: #ffffff;
  min-width: 400px;
  min-height: 300px;
  width: 80%;
  max-width: 900px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: auto;
  display: flex;
  align-content: space-around;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 30px;
}

/* card ของ result */

.card {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 20px;
}
.image {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 10px;
}
.text {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  /* font-weight: 500; */
  font-size: 24px;
  /* line-height: 36px; */
  /* height: 27.5%; */
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 10px;
  font-weight: 400;
}

.text p {
  font-size: 18px;
  line-height: 27px;
  text-align: left;
  padding-right: 50px;
  top: 0;
}

.container1{
  display: flex;
  width: 100%;
}

.container2{
  display: flex;
  width: 100%;
  flex-direction: column;
}
.descripsion{
  display: flex;
  width: 100%;

}
.destext{
  font-size: 16px;
  text-align: left;
}
.wrapdes{
  display: flex;
  flex-direction: column;
  width: 60%;
}
.buttonapp{
  display: flex;
  justify-content: end;
}
