.container {
  display: flex;
  flex-direction: row;
  /* width: 100vw */
}

.header {
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
}

.body {
  width: 100%
}
.body > * {
  /* height: 400px; */
  overflow: hidden;
}

.box1 {
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  object-fit: contain;
  height:auto;
  width:100%;
  position: relative;
  color: #ffffff;
  min-height: 400px;
  min-width: 800px;
  background-color: #377de2;

}

.img1 {
  width: 100%;
  min-height: 400px;
  height: auto;
  /* min-width: 800px; */
}

.img1 img {
  object-fit: contain;
  width: 100%;
  min-height: 400px;
  height: auto;
  /* min-width: 800px; */

}

.box1_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  height: 100%;
}
.box1_row {
  display: flex;
  gap: 10%;
  width: 100%;
  justify-content: center;
}
.headerbanner{
  top: 10px;
  font-size: 2vw;
  font-weight: 400;
  margin-bottom: 1em;
}
.patienttoday{
  font-size: 1.8vw;
  font-weight: 500;
}
.iconcovid{
  margin: 5px 5px;
  width: 45px;
  height: 45px;
}
.top {
  text-align: left;
  width: 100%;
  margin-left: 50%;
  font-size: 24px;
  line-height: 36px;
}
.left {
  width: 30%;
  text-align: right;
}
.right {
  width: 30%;
}

.item1 {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}

.item2 {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;

}
.box2 {
  min-height: 400px;
  min-width: 600px;
  padding: 0px 20%;
  color: #377de2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* ali */
}
.box2_top {
  margin-top: 10px;
  font-size: 24px;
  line-height: 36px;
  text-align: left;
  /* margin-left: 10%; */
}
.box2_bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.box2_items {
  border: 1px solid #e6e6e6f8;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
  width: 28%;
  min-width: 210px;
  min-height: 220px;
  box-shadow: 5px 10px #cfcfcf;
}
.box2_items_text {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 27px;
}

.box3 {
  background-color: #e7f7ff;
  display: flex;
  color: #377de2;
  /* padding: 25px; */
  min-height: 400px;
  min-width: 600px;
  padding: 0px 20%;
  flex-direction: row;
  justify-content: space-between;
}
.box3_left {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: left;
}
.box3_right {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.box3_header {
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
}
.box3_content {
  text-align: left;
  font-size: 18px;
  line-height: 27px;
}
.box_button {
  display: flex;
}

.box4 {
  color: #377de2;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  min-height: 400px;
  min-width: 600px;
  padding: 0px 20%;
  flex-direction: row;
  justify-content: space-between;
}
.box4_left {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  justify-content: space-around;
}
.box4_right {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: right;
}
.box5 {
  background-color: #e7f7ff;
  color: #377de2;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  min-height: 400px;
  min-width: 600px;
  padding: 0px 20%;
  flex-direction: row;
  justify-content: space-between;
}
.box5_left {
  width: 30%;
  display: flex;
  justify-content: left;
  align-items: center;
}
.box5_right {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  justify-content: space-around;
}

.subnav {
  /* height: 72px; */
  display: flex;
  flex-direction: row;
  justify-content: end;
  background-color: #F6FBFF;
}